/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
package-lock.json
composer.lock
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log