@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");
@import "./bybu.scss";
@import "./helpers.scss";

* {
    font-family: "Lato", Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
